<h1> Add Link </h1>

<form action = '/' method ='post' >
    Name: <input type='text' name='name' >
    URL:  <input type='text' name='url' >
    Tags: <input type='text' name='tags' >
  <input type='submit' value="Add link">
</form>
